
body{
    background-color: #a3b18a;
    font-family: 'Chelsea Market', sans-serif !important;
}

p{
    color: white;
}


h1, h2, h3, h4, h5, h6{
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    }

.text-left{
padding: 0 !important;
margin-bottom: 15px !important;
margin-top: 0 !important;

}

.gif{
    width: 390px;
    margin-left: 50px;
    margin-bottom: 30px;
}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
}


.carousel-caption {
    position: absolute;
    left: 51%;
    width: 50%;
    height: 100%;
    background-color: #3a5a40;
    opacity: 0.7;
    bottom:0;
    right: auto;
    font-size: 15px;
    padding: 20px;
    
}

.d-block{
    background-color: darkolivegreen;}

.favs{
    font-size: 30px;
}

.topnav {
    overflow: hidden;
    background-color: none;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: darkolivegreen;
}

.topnav a.active {
    background-color: #3a5a40;
    color: white;
}


.music{
    margin-bottom: 150px;
    margin-top: 150px;
}

.moviesandshows{
    margin-bottom: 150px;
    margin-top: 150px;
}

.booksandcomics{
    margin-bottom: 150px;
    margin-top: 150px;
}

.gallery{
    margin-bottom: 150px;
    margin-top: 150px;
}


.booksandcomics img{
    height: 420px;
}

.books{
    margin-bottom: 50px;
    margin-top: 50px;
}

.carousel-1{
    margin-bottom: 50px;
}

.welcome{
    margin-top: 200px;
}

.button{
    text-align: center;
    color: white;
}

.me{
    margin-top: 20px;
    //margin-bottom: 70px;
}

.rollytrolly{
    margin-top: 40px;
}


.arrow-index-2{
    height: 40px;
    transform: rotate(270deg);
    position: fixed;
    right: 150px;
}

.arrow-about{
    height: 30px;
    transform: rotate(180deg);
}

hr{
    color: #a3b18a;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20%;
    content: '&#9829;
}

