/*body{
    background-color: #a3b18a !important;
    font-family: "arial";
    font-size: 20px;
    padding: 50px;
} */


@keyframes bgcolor {
    0% {
        background-color: #3a5a40;
    }

    40% {
        background-color: #a3b18a;
    }

    80% {
        background-color: #3a5a40;
    }

    100% {
        background-color: #a3b18a;
    }

    80% {
        background-color: #3a5a40;
    }

    100% {
        background-color: #a3b18a;
    }
}


h1 {
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% { color: white; }
    10% { color: black; }
    20% { color: white; }
    30% { color: black; }
    40% { color: white; }
    50% { color: black; }
    60% { color: white; }
    70% { color: black; }
    80% { color: white; }
    90% { color: black; }
    100% { color: white; }
}

body {
    -webkit-animation: bgcolor 10s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    padding-top: 50px;
}


p{
    color: white;
    font-family: 'Chelsea Market', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Chelsea Market', sans-serif; font-weight:400;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    }


h5{
    color: white;
    font-family: 'Chelsea Market', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.help{
text-align: left;}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
}


.carousel-caption {
    position: absolute;
    left: 51%;
    width: 50%;
    height: 100%;
    background-color: #3a5a40;
    opacity: 0.7;
    bottom:0;
    right: auto;
    font-family: 'Chelsea Market', sans-serif;
    font-size: 15px;
    padding: 20px;
    
}

.d-block{
    background-color: darkolivegreen;}

.favs{
    font-size: 30px;
}

.topnav {
    overflow: hidden;
    background-color: darkolivegreen;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: darkolivegreen;
}

.topnav a.active {
    background-color: #3a5a40;
    color: white;
}

.help{
    margin-top: 0;
    margin-bottom: 15px;
}

.carousel-1{
    margin-bottom: 50px;
}

.welcome{
    margin-top: 200px;
}

.clickhere{
    text-align: center;
    font-family: "Chelsea Market", Arial;
    color: white;
}

.me{
    margin-top: 70px;
    margin-bottom: 70px;
}

.rollytrolly{
    margin-top: 40px;
}

.arrow-index{
    height: 40px;
}

.arrow-about{
    height: 30px;
    transform: rotate(180deg);
}

.spidy{
    height: 30px;
}


hr{
    color: #a3b18a;
}


.spotify{
   margin-top: 100px;

}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 20%;
    content: '&#9829;
}


.card-body{
    background-color: #a3b18a;
}


{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
