body{
    background-color: #a3b18a !important;
    font-family: "arial";
    font-size: 20px;
    padding: 50px;
}

p{
    color: white;
    font-family: 'Chelsea Market', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Chelsea Market', sans-serif; font-weight:400;
    color: white;
    margin-bottom: 50px;
    margin-top: 50px;
    }


h5{
    color: white;
    font-family: 'Chelsea Market', sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.help{
text-align: left;}

#carouselButtons {
    margin-left: 100px;
    position: absolute;
}


.carousel-caption {
    position: absolute;
    left: 51%;
    width: 50%;
    height: 100%;
    background-color: #3a5a40;
    opacity: 0.7;
    bottom:0;
    right: auto;
    font-family: 'Chelsea Market', sans-serif;
    font-size: 15px;
    padding: 20px;
}

.d-block{
    background-color: darkolivegreen;
}

.favs{
    font-size: 30px;
}

.topnav {
    overflow: hidden;
    background-color: darkolivegreen;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: darkolivegreen;
}

.topnav a.active {
    background-color: #3a5a40;
    color: white;
}

.help{
    margin-top: 0;
    margin-bottom: 15px;
}

.carousel-1{
    margin-bottom: 50px;
}

.welcome{
    margin-top: 200px;
}

.clickhere{
    text-align: center;
}

.me{
    margin-top: 70px;
    margin-bottom: 70px;
}

.rollytrolly{
    margin-top: 170px;
}